---
layout: default
title: Apothem
---
    <!--Remember to change "/Apothem" to the directory you are running Apothem under-->
    {% for post in site.posts %}
      <div class="hero-unit">
        <p><h2><a href="/Apothem{{ post.url }}">{{ post.title }}</a></h2>{{ post.date | date_to_string }} - {{post.author}}</p>
        <p>{{ post.content | strip_html | truncatewords: 55 }}</p>
        <p><a href="/Apothem{{ post.url }}">Read more ...</a></p>
      </div>
    {% endfor %}
