---
layout: default
comments: true
---
<article>
<header>
<h2>
<!--Remember to change "/Apothem" to the directory you are running Apothem under-->
<a href="/Apothem{{ page.url }}" rel="bookmark" title="Permanent link to ">{{ page.title }}</a>
</h2>
<h5>
<time>{{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}</time> - 
<author>{{ page.author }}</author>
</h5>
</header>
<p /><br /><p />{{ content }}

<div class="hero-unit">
<nav id="related">
<h3>Related Posts</h3>
<ul class="posts">
{% for post in site.related_posts limit:5 %}
<p><li><span>{{ post.date | date_to_string }}</span> - <a href="/blog{{ post.url }}">{{ post.title }}</a></li></p>
{% endfor %}
</ul>
</nav>
</div>

{% if page.comments %} 
<!--This is where the Disquss login will go-->
{% endif %} 

<!-- 
{% if site.disqus %}
<div id="comments">
<h2>Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_identifier = "/Apothem{{ page.url }}";
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://{{ site.disqus.id }}.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ site.disqus.id }}">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endif %}
-->
</article>